[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "==2.0.41"
python-dotenv = "*"
aiosqlite = "*"
greenlet = "*"
pytest-asyncio = "*"

[dev-packages]
pytest = "*"
